body {
  background-color: black;
  position: relative;
  /* border: 2px solid red; */
  margin: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  justify-content: right;

}

.navbar {
  width: 100%;
  height: 70px;
  /* border: 2px solid red; */
  background-color: black;
  opacity: 1;
  border-radius: 3px;
  display: flex;
  position: fixed;
}

.logo {
  width: 220px;
  height: 100%;
  /* border: 2px solid #fff; */
  margin-left: 30px;
  color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-top: -20px;
  margin-left: 55px;
  font-size: 28px;
}

.logo a{
  color: red;
  text-decoration: none;
}

.home{
  color: white;
  font-size: 10.3px;
  margin-top: 10px;
  position: relative;
  left: -40px;
  top: 4px;
  display: flex;
  gap: 13px;
}

.home h2:hover{
  color: rgb(164, 161, 161);
  cursor: pointer;
}

.ser i{
  color: rgb(255, 252, 252);
  font-size: 25px;
  position: relative;
  top: 10px;
  left: 360px;
}
.bel{
  color: rgb(255, 252, 252);
  font-size: 25px;
  position: relative;
  top: 10px;
  left:  380px;
}

.image1 {
  width: 100%;
  height: 650px;
  border: 2px solid rgb(13, 13, 13);
  border-radius: 3px;
  background-image: url(./Asswt/Salaar.webp);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.image1 h1 {
  color: rgb(196, 195, 195);
  font-size: 150px;
  font-family: monospace;
  position: relative;
  top: 40px;
  left: 70px;
  text-shadow: 2px 8px 2px rgb(19, 19, 19);
}
.image1 h2 {
  color: whitesmoke;
  position: relative;
  left: 210px;
  top: -80px;
  font-size: 40px;
}
.image1 p {
  color: whitesmoke;
  position: relative;
  left: 70px;
  top: -65px;
  font-size: 20px;
}
.but {
  display: flex;
}
.but1 {
  width: 140px;
  height: 43px;
  border: 2px solid rgb(251, 249, 249);
  border-radius: 7px;
  background-color: whitesmoke;
  position: relative;
  left: 70px;
  top: -45px;
}
.but1:hover {
  background-color: gray;
}
.but1 i {
  color: black;
  font-size: 30px;
  position: relative;
  left: 20px;
  top: 5px;
}
.but i:hover {
  background-color: gray;
}
.but1 input {
  font-size: 20px;
  outline: none;
  border: none;
  position: relative;
  left: 20px;
  top: 2px;
}
.but1 input:hover {
  background-color: gray;
}
.but2 {
  width: 170px;
  height: 43px;
  border: 2px solid rgb(94, 92, 92);
  border-radius: 7px;
  background-color: rgb(63, 62, 62);
  position: relative;
  left: 90px;
  top: -45px;
}
.but2:hover {
  background-color: rgb(95, 92, 92);
}
.but2 i {
  color: white;
  font-size: 30px;
  position: relative;
  left: 20px;
  top: 5px;
}
.but2 p {
  color: rgb(246, 241, 241);
  position: relative;
  top: -42px;
  left: 55px;
}
span {
  color: white;
  font-size: 22px;
  position: relative;
  left: 70px;
  top: 20px;
}

.image2 {
  width: 100%;
  height: 200px;
  /* border: 2px solid red; */
  border-radius: 3px;
  display: flex;
  gap: 5px;
}
.emt {
  width: 65px;
  height: 200px;
  /* border: 2px solid red; */
  border-radius: 3px;
}
img {
  width: 250px;
  height: 165px;
}
.spa {
  width: 100%;
  height: 50px;
  /* border: 2px solid red; */
  border-radius: 3px;
}
.spa p {
  color: white;
  font-size: 22px;
  position: relative;
  left: 70px;
  top: 10px;
}
.image2 img:hover {
  cursor: pointer;
  background-color: black;
  border: 6px solid black;
  border-radius: 6px;
}

.foot {
  width: 100%;
  height: 350px;
  /* border: 2px solid red; */
  border-radius: 3px;
}
.flog{
  width: 100%;
  height: 50px;
  /* border: 2px solid red; */
  border-radius: 3px;
  display: flex;
  gap: 30px;
}
.flog i{
color: white;
font-size: 25px;
position: relative;
left: 190px;
top: 40px;
cursor: pointer;
}
.box{
  display: flex;
  justify-content: center;
}
.b{
width: 300px;
  height: 150px;
  /* border: 2px solid red; */
  border-radius: 3px;
}
.b h3{
  color: rgb(143, 141, 141);
  position: relative;
  top: 30px;
  left: 120px;
}
.b h3:hover{
  cursor: pointer;
  text-decoration: underline;
}
.b2 { 
  width: 110px;
  height: 35px;
  border: 2px solid rgb(244, 241, 241);
  border-radius: 2px;
  position: relative;
  left:190px;
  top: 20px;
}
.b2 p{
  color: rgb(143, 141, 141);
   text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  
}
.b2 p:hover{
  color: white;
  cursor: pointer;

}
.en {
  color: rgb(143, 141, 141);
  position: relative;
  top: 20px;
  left: 190px;
}
.signl{
  width: 50px;
  height: 50px;
  /* border: 2px solid red; */
  /* border-radius: 2px; */
  position: relative;
  left: 395px;
  top: 1px;
}
.signl img{
  width: 50px;
  height: 40px;
  /* border: 2px solid red; */
  border-radius: 6px;
}